  .sg1,.sg1-2,.sg2-3,.sg2-8,.sg4-6,.sg4-12,.sg6-3,.sg2,.sg3,.sg4,.sg6,.sg8,.sg12{
        float: left;
    }

@media (min-width:768px){
    .sg1-2{
        width:8.333333333%;
    }
    .sg2-3{
        width:16.66666666%;
    }
    .sg2-8{
        width:16.66666666%;
    }
    .sg3{
        width:25%;
    }
    .sg4-6{
        width:33.333333333%;
    }
    .sg4-12{
        width:33.333333333%;
    }
    .sg6{
        width:50%;
    }
    .sg6-3{
        width:50%;
    }
    .sg8{
        width:66.666666666%;
    }
    .sg12{
        width:100%;
    }
}
@media (max-width:768px){
    .sg1-2{
        width:16.66666666%;
    }
    .sg2{
        width:16.66666666%;
    }
    .sg2-3{
       width:25%;
    }
    .sg2-8{
        width:66.666666666%;
    }
    .sg3{
        width:25%;
    }
    .sg4{
        width:33.333333333%;
    }
    .sg4-6{
        width:50%;
    }
    .sg4-12{
        width:100%;
    }
    .sg6{
        width:50%;
    }
    .sg6-3{
        width:25%;
    }
    .sg8{
        width:66.666666666%;
    }
    .sg12{
        width:100%;
    }
}
.main{
    width:90%;
    margin:10px auto;
}
.main:after{
    content:'';
    display: block;
    clear:both;
}
.sg{
    box-sizing: border-box;   
    padding: 5px 0 5px 20px;
    height:50px;
    line-height: 40px;  
}
.sg-demo{
    box-sizing: border-box; 
    border:1px solid #999;
    background:#eee;
    padding-left:3%;
    height:50px;
}