* {
  margin: 0;
  padding: 0;
}
#main {
  width: 604px;
  margin: 0 auto;
}
#x {
  width: 550px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
.y,
.x {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  float: left;
}
#y {
  width: 50px;
  height: 550px;
  float: left;
  text-align: center;
  line-height: 50px;
}
#content {
  width: 500px;
  height: 500px;
  background: #fff;
  border: 2px solid #333;
  float: left;
}
.box {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  position: relative;
}
#input {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
}
#input input {
  border: 1px solid #ccc;
  padding: 10px 30px;
}
#input input:focus {
  border: 2px solid red;
  background: #000;
  color: #fff;
}
#input button {
  padding: 10px 30px;
  border: 2px solid red;
  background: #000;
  color: #fff;
}
.left:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 48px;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
}
.top:after {
  content: '';
  display: inline-block;
  width: 48px;
  height: 10px;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
}
.right:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 48px;
  background: blue;
  position: absolute;
  top: 0;
  right: 0;
}
.bottom:after {
  content: '';
  display: inline-block;
  width: 48px;
  height: 10px;
  background: blue;
  position: absolute;
  bottom: 0;
  left: 0;
}
